<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="http://localhost:8080/upload" method="post" action="application/x-www-form-urlencoded" enctype="multipart/form-data">
        <label for="lang">域名选项</label>
        <select name="domain" id="lang">
            <option value="www.polixir.site">www.polixir.site</option>
            <option value="www.polixir.ai">www.polixir.ai</option>
            <option value="www.agit.ai">www.agit.ai</option>
            <option value="service.agit.site">service.agit.site</option>
        </select><br>
        文件名：<input type="text" name="manual_domain" placeholder="请输入要修改的文件名"> 如无特殊需求请勿填写<br>

       主机地址：<input type="text" name="host" placeholder="请输入IP地址"> 如无特殊需求请勿填写<br>
       远程端口：<input type="text" name="port" placeholder="请输入端口"> 如无特殊需求请勿填写<br>
        用户名：<input type="text" name="username" placeholder="请输入你的用户名"><br>
        密&nbsp;&nbsp;&nbsp;码：<input type="password" name="password" placeholder="请输入你的密码"><br>
          上传文件:<input type="file" name="files" multiple><br>
          <input type="submit" value="提交">
    </form>
</body>
</html>